In [2]:
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns;sns.set()
#from sklearn.datasets import fetch_20newsgroups

In [22]:
import pandas as pd

path=r'C:\cygwin64\home\wuqia\Documents\sample_network_20200101_2.csv'
sample_df0=pd.read_csv(path,header=None,delimiter=",")
#sample_df=sample_df.iloc[:,6:]
sample_df=pd.DataFrame(index=sample_df.index,columns=['original_userid','user_id','ct'])
sample_df.iloc[:,0]=sample_df0.iloc[:,2]
sample_df.iloc[:,1]=sample_df0.iloc[:,3]
sample_df.iloc[:,2]=sample_df0.iloc[:,0]
sample_df

          original_userid               user_id  ct
0              100172507#            101681864#   1
1    1006102626038005760#  1052934426001174530#   1
2    1006126876169887744#           1393742856#   1
3    1006126876169887744#   715341753490890752#   1
4    1007040109240172546#           2836303298#   1
..                    ...                   ...  ..
911   993057317443649536#            211057626#   1
912   996890624497340416#             57871786#   1
913             99720536#   715341753490890752#   1
914             99720536#   849100097518522372#   1
915             99987262#             55448212#   1

[916 rows x 3 columns]

In [16]:
for i in range(len(sample_df)):
    if len(sample_df.iloc[i,0])>5:
        print(i,sample_df.iloc[i,0])

520 356195126#

In [13]:
sample_df.iloc[520,:]

6     356195126#
7    1393742856#
8            NaN
Name: 520, dtype: object

In [10]:
sample_df.iloc[520,:]

6     356195126#
7    1393742856#
8            NaN
Name: 520, dtype: object

In [21]:
sum([int(i) for i in list(sample_df.iloc[:,0])])

1015

In [3]:
data=fetch_20newsgroups()
data.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [3]:
np.random.seed(1)
np.random.rand(2,5)<0.5

array([[ True, False,  True,  True,  True],
       [ True,  True,  True,  True, False]])

In [ ]:
N=500
T=1000
d=1